
@font-face {
  font-family:osamaFont;
  src:url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family:osamaFont2;
  src:url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
*{
padding:0;
margin:0;
box-sizing:border-box;
font-family:osamaFont;

}
hr{
border-top:1px solid #f1f1f1;
}
header{
height:38px;
background-color:black;

}
header a:last-child{
float:right;
}
header a{
float:left;
color:white;
padding:12px 16px;
font-size:14px;
}
header a:hover{
background-color:#CCCCCC;
color:black;
cursor:pointer;
}
.titlediv{
width:100%;
padding:60px;

}
#titlejane{
text-align:center;
font-size:48px;
font-family:osamaFont;

font-weight:bold;
}
#divspan{
margin-top:20px;
text-align:center;
font-family:osamaFont;
font-size:16px;

}
#span2{
color:white;
background-color:black;
}
.section1{
position:relative;
}
.section1 img{
width:100%;
}
main .section1 div{
position:absolute;
top:38%;
color:white;
letter-spacing:5;
margin-left:20px;
}
main .section1 div #sec1p1{
font-size:2em;
font-family:osamaFont;

}
main .section1 div #sec1p2{
font-size:3em;
font-family:osamaFont;
font-weight:bold;
margin:10px 0;
}

main .section1 div #sec1putt1{
font-size:20px;
font-family:osamaFont;
padding:10px 20px;
background-color:#b4b3b3;
border:none;
opacity:0.5;
}
main .section1 div #sec1putt1:hover{
opacity:1;
cursor:pointer;
}

main .container_section2{
background-color:#f1f1f1;
padding:20px;
font-family:osamaFont2;
width:100%;
height:auto;
overflow:auto;
}
main .container_section2 .mainsec2aside1{
width:66%;
float:left;
}
main .container_section2 .mainsec2aside2{
width:calc(34% - 5px);
float:right;
padding-left:25px;
}
.contaner_section2_sections  {
padding:25px;
text-align:center;
background-color:white;
position:relative;
margin-bottom:40px;
}
.contaner_section2_sections h2{
margin-bottom:20px;
 font-family:osamaFont;
}
.contaner_section2_sections .span1{
font-family:osamaFont;
}
.contaner_section2_sections .span2{
color:gray;
}
.contaner_section2_sections .img1{
margin:30px 0;
width:100%;
}
.contaner_section2_sections .p-text-align1{
text-align:justify; 
margin-bottom:10px;
font-size:15px;

}
.contaner_section2_sections .p-text-align2{
text-align:justify;
font-size:15px;

}

.contaner_section2_sections .mainsec2aside1sec1div1{
margin:30px 0px;
position:relative;
height:60px;
}
.mainsec2aside1sec1div1 .sec2aside1sec1div1but1{
float:left;
background-color:white;
border:1px gray solid;
padding:10px 20px;
font-size:18px;
}
.mainsec2aside1sec1div1 .sec2aside1sec1div1but2{
float:right;
background-color:black;
color:white;
border:1px gray solid;
padding:10px 20px;
font-size:16px;
text-transform:capitalize;
}
.mainsec2aside1sec1div1 .sec2aside1sec1div1but2 .sec2aside1sec1div1but2span{
background-color:white;
color:black;
padding:3px 6px;
}
.sec2aside1sec1div1but1:hover, .sec2aside1sec1div1but2:hover{
background-color:gray !important;
cursor:pointer;
}



.contaner_section2_sections .mainsec2aside1sec1div2{
display:flex; 
justify-content:flex-start;
align-items:center;
}
.mainsec2aside1sec1div2 .mainsec2aside1sec1div2div1 {
margin:20px 0px;
}
.mainsec2aside1sec1div2div1 img{
height:100px;
}
.mainsec2aside1sec1div2 .mainsec2aside1sec1div2div2{
text-align:end;
 width:230px; 
 flex-shrink:1;
}
.mainsec2aside1sec1div2 .mainsec2aside1sec1div2div2 h4{
padding:10px 0px;
}
.mainsec2aside1sec1div2 .mainsec2aside1sec1div2div2 h4 span{
color:gray; font-size:13px;
}
.mainsec2aside1sec1div2 .mainsec2aside1sec1div2div2 p{
 padding:10px 0px;
}





#sec2aside2sec1{
width:100%;
color:white;
background-color:black;
margin-bottom:40px;
}

.parts{ 
width:100%;
height:auto;
overflow:auto;
}
.parts:hover{ 
background-color:gray;

}
.partsd1{
float:left; 
width:80px; 
margin-top:15px; 
margin-left:15px; 
margin-bottom:10px;
}

.partsimg1{
float:left;
width:50px;


}
.partsd2{
float:left; 
text-align:start; 
padding-top:20px; 
width:auto;


}


.spanstyle{
padding:0 5px;
background-color:#f1f1f1;
display:inline-block;
margin-bottom:20px;
font-size:12;
}
.divasec{
background-color:white; 
display:inline-block; 
width:100%; 
padding:15px; 
}
.divasec a{
font-size:25px;
color:black;
}
.divasec a:hover{
color:gray;
}
#inputhover{
background-color:red;
border:none;
color:white; 
width:100%; 
height:40px;
}
#inputhover:hover{

background-color:gray;
cursor:pointer;
}
.clear{
content:" ";
clear:both;

}



#asid2secdivh2{
padding:10px;
}
#asid2secdivp{
padding:10px;
}
#sec2aside2sec2{
margin-bottom:40px; 
width:100%;
}
#sec2aside2sec2p{
width:100%; 
background-color:black;
 color:white; 
 text-align:start; 
 padding:20px 15px;
}
#sec2aside2sec2div{
background-color:white;
width:100%;
 } 
.clearboth{
clear:both;
}
.addvertise{
display:block; 
margin-bottom:40px;
}

.addvertiseb{
width:100%; 
background-color:black; 
color:white; text-align:start; 
padding:20px 15px;
}
.addvertisediv1{
background-color:white; 
display:inline-block; 
width:100%;
} 
.addvertisediv2{
margin:20px; 
background-color:#f1f1f1; 
height:200px; 
display:flex; 
align-items:center;
}

.addvertisep2{
margin:auto;
}

.tagssec{
display:block;
 margin-bottom:40px;
 }
.tagssecp1{
width:100%; 
background-color:black; 
color:white; 
text-align:start; 
padding:20px 15px;
}
.tagssecdiv1{
background-color:white; 
display:inline-block; 
width:100%; 
padding:20px;
}
.tagssecspan1{
 background-color:black; 
 color:white; 
 font-size:16;
 }
.secinspiration{
display:block; 
margin-bottom:40px;
}
.secinspirationp1{
width:100%; 
background-color:black; 
color:white; 
text-align:start; 
padding:20px 15px;
}
.secinspirationdiv1{
background-color:white; 
display:inline-block; 
width:100%; 
padding:15px 0 15px 15px;
}
.secinspirationdiv2{
display:inline-block; 
width:49%;
}
.secinspirationp2{
padding:0 13px 15px 0;
}
.secinspirationp3{
padding:0 13px 0 0;
}

.divap1{
padding-bottom:15px;
}

.inputtxtmail{
margin-bottom:15px; 
width:100%; 
height:40px;
} 



footer{
height:180px;
width:100%;
background-color:#616161;
position:relative;
bottom:0px;

}
#footchild{
position:absolute;
top:40px;
left:40px;
color:white;
font-size:15px;
font-family:arial;
}
#footchild button{
font-size:15px;
display:block;
padding:15px 25px;
margin-bottom:30px;
background-color:black;
color:white;
border:none;
}
#footchild button:hover{
background-color:gray;
color:black;
cursor:pointer;
}
#footspan2{
text-decoration:underline;
}
#footspan2:hover{
cursor:pointer;
}
@media screen and (max-width: 1024px){

main .section1 div #sec1p2{
font-size:1.8em;
}

main .container_section2{
background-color:#f1f1f1;
padding:0;
font-family:osamaFont2;
width:100%;
}
main .container_section2 .mainsec2aside1{
width:100%;
clear:both;
}
main .container_section2 .mainsec2aside2{
width:100%;
clear:both;
padding-left:0;
}
}

